<!DOCTYPE html>
 <html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Browse Page</title>
        <link href="styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    </head>
    <body ng-app="ngTeam" ng-controller="browseController">
        <div id="developerNavbar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="Developers.html">FFS</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="Browse.html?">Browse</a></li>
                            <li class="dropdown">
                                <a href="https://getbootstrap.com/examples/navbar/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By: <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a ng-model = "buyButton" ng-click = "sortByPrice()">Price</a></li>
                                    <li><a ng-model = "buyButton" ng-click = "sortByDate()">Date</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="https://getbootstrap.com/examples/navbar/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories: {{dataType}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a ng-model = "catBooks" ng-click = "setAll()">All</a></li>
                                    <li><a ng-model = "catBooks" ng-click = "setBooks()">Books</a></li>
                                    <li><a ng-model = "catNotes" ng-click = "setNotes()">Notes</a></li>
                                    <li><a ng-model = "catFurniture" ng-click = "setFurniture()">Furniture</a></li>
                                    <li><a ng-model = "catClothes" ng-click = "setClothes()">Clothes</a></li>
                                    <li><a ng-model = "catFood" ng-click = "setFood()">Food</a></li>
                                    <li><a ng-model = "catTechnology" ng-click = "setTechnology()">Technology</a></li>
                                    <li><a ng-model = "catServices" ng-click = "setServices()">Services</a></li>
                                    <li><a ng-model = "catOther" ng-click = "setOther()">Other</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" ng-model="searchBy" ng-change="computeAverage()" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button ng-click="searchFunc()" class="btn btn-default" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="newPost.html"><span class="glyphicon glyphicon-plus"></span></a></li>
                            <li><a id = "profileLink"><span class="glyphicon glyphicon-user"></span></a></li>
                            <li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span></a></li>
                            <li><a id = "logoutLink"><span class="glyphicon glyphicon-log-out"></span> </a></li>             
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        
        <div id = "Sorting" style="text-align: center">
            <div id = "BuyOrSell">
                    <button type ="button" id="browseBuyButton" ng-model = "buyButton" ng-click = "buy()" class= "browseButtons">Currently being seeked</button>
                    <button type ="button" id="browseSellButton" ng-model = "sellButton" ng-click = "sell()" class = "browseButtons">Currently on Sale</button>
            </div>
        </div>
        
        <div class = "Price-trends">
            <label>Average Price: {{averageValue}}</label>
        </div>
        <div id="usertable">
            <div class="panel-body" ng-repeat="(key,request) in requestData|asArray|filter:{itemName :searchBy}|orderBy:predicate|limitTo:limit" style="min-width: 300px">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center" style="min-width: 230px"> 
                    <img class = "users" alt="User Pic" src={{request.imageLink}}> 
                </div>
                <div class=" col-md-3 col-lg-3 "> 
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><a href={{"profile.html?name="+request.userID}}>{{request.firstName}} {{request.lastName}}</a></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Item Name:</b> {{request.itemName}}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Negotiable: </b> {{request.checked ? "yes" : "no"}}</h4></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 comments"> 
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Item Description:</b> {{request.itemDescription}}</h4></div>
                    </div>
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Price:</b> ${{request.itemPrice}}</h4></div>
                    </div>
                    <div class = "row">
                        <button type ="button" id={{request.itemName}} ng-model = "amazonPrice" ng-click = "amazonPrice()">Check Amazon</button>
                    </div>
                  </div>
                </div>
            </div>
            <div style="text-align:center">
                <button type ="button" ng-click = "incrementLimit()" class= "browseButtons">Load more items.</button>
            </div>
        </div>
     </body>
     <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
     <script src="ngteam.js"></script>
     <script src="ng-team/browseController.js"></script>
     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
     <script type="text/javascript" src = "logout.js"></script>
</html>