<!DOCTYPE html>
 <html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Price Trend</title>
        <link href="styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
        <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
        <style>
            html,body {
              height:100%;
              width:100%;
            }
            #myChart {
              margin-left: 10%;
              margin-right: 10%;
              min-height: 60%
            }
            .zc-ref {
              display: none;
            }
        </style>
    </head>
    <body ng-app="ngTeam" ng-controller="pricetrendController">
        <div id="developerNavbar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="Developers.html">FFS</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a href="Browse.html?">Browse</a></li>
                        <li class="active"><a href="pricetrend.html?">Price Trend</a></li>
                        <li class="dropdown">
                        <ul class="dropdown-menu">
                          <li><a ng-model = "buyButton" ng-click = "sortByPrice()">Price</a></li>
                          <li><a ng-model = "buyButton" ng-click = "sortByDate()">Date</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="newPost.html"><span class="glyphicon glyphicon-plus"></span></a></li>
                        <li><a id = "profileLink"><span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li><a id = "logoutLink"><span class="glyphicon glyphicon-log-out"></span> </a></li>             
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
        
        <div id = "Sorting" style="text-align: center">
            <div id = "BuyOrSell">
                    <button type ="button" id="browseBuyButton" ng-model = "buyButton" ng-click = "buy()" class= "browseButtons">Looking For</button>
                    <button type ="button" id="browseSellButton" ng-model = "sellButton" ng-click = "sell()" class = "browseButtons">For Sale</button>
            </div>
        </div>
        <!--
        <div id = "Sorting2">
            <div id = "DateOrPrice">
                    <button type ="button" id="sortByDate" ng-model = "sortDate" ng-click = "sortByDate()" class= "browseButtons2">Sort By Date</button>
                    <button type ="button" id="sortByPrice" ng-model = "sortPrice" ng-click = "sortByPrice()" class = "browseButtons2">Sort By Price</button>
            </div>
        </div>
        -->
        
        <!--
        <div class = "Price-trends">
            <label>Average Price: {{averageValue}}</label>
        </div>
        -->
        <br>
        <div align="center">
        <form>
            <div align="center" style="width:50%; text-align: center" class="input-group">
                <input type="text" ng-model="searchBy" ng-change="dataArray()" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button ng-click="searchFunc()" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        </div>
        <br>
        <div id='myChart' align="center"></div>

     </body>
     <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
     <script src="ngteam.js"></script>
     <script src="ng-team/pricetrendController.js"></script>
     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
     <script type="text/javascript" src = "logout.js"></script>
</html>