<!DOCTYPE html>
 <html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Profile Page</title>
        <link href = "FFSstyles/profile.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    </head>
    <body ng-app="ngTeam" ng-controller="profileController">
        <div id="developerNavbar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="Developers.html">FFS</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="Browse.html?">Browse</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input id = "search" type="text" ng-model="searchBy" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button id = "searchBtn" ng-click="searchFunc()" class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="newPost.html"><span class="glyphicon glyphicon-plus"></span></a></li>
                        <li class = "active"><a id = "profileLink"><span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li><a id = "logoutLink"><span class="glyphicon glyphicon-log-out"></span> </a></li>             
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
        
        <div id = "profileContainer" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" > 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{user.firstName}} {{user.lastName}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src={{user.userImageLink}} class="img-circle img-responsive"> </div>
                                <div class=" col-md-9 col-lg-9 "> 
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>UCSD Email:</td>
                                                <td>{{user.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Contact Email:</td>
                                                <td>{{user.contactEmail}}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number:</td>
                                                <td>{{user.contactNumber}}</td>
                                            </tr>
                                            <tr>
                                                <td>Reported:</td>
                                                <td>{{reportNum}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href = {{"mailto:"+user.contactEmail+"?Subject=Hello%20there!"}} data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a><label>E-mail</label>
                            
                            <span class="pull-right"><label>Report</label><button ng-click = "report()" type="button" id = reportButton class="btn btn-sm btn-warning"> <i class= "glyphicon glyphicon-exclamation-sign"></i></button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id ="myPosts" class="btn btn-primary" style="margin-left:10px;">I'm currently looking for:</a>
        <div id="usertable">
            <div class="panel-body" ng-repeat="(key,request) in buyRequestData|asArray|filter:{userID:profileuid}" style="min-width: 300px">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center" style="min-width: 230px"> 
                    <img class = "users" alt="User Pic" src={{request.imageLink}}> 
                </div>
                <div class=" col-md-3 col-lg-3 "> 
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Item Name:</b> {{request.itemName}}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Negotiable: </b> {{request.checked ? "yes" : "no"}}</h4></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 comments"> 
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Item Description:</b> {{request.itemDescription}}</h4></div>
                    </div>
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Price:</b> ${{request.itemPrice}}</h4></div>
                    </div>
                    <div class = "row">
                        <button type ="button"  id = {{request.itemName}}{{request.userID}} ng-model = "deleteBuyPost" ng-click = "deleteBuyPost()">Delete</button>
                        <button type ="button"  id = {{request.itemName}}{{request.userID}} ng-model = "updateBuyPost" ng-click = "updateBuyPost()">Update</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <a href="#" id ="myPosts" class="btn btn-primary" style="margin-left:10px;">I'm currently selling:</a>
        <div id="usertable">
            <div class="panel-body" ng-repeat="(key,request) in sellRequestData|asArray|filter:{userID:profileuid}" style="min-width: 300px">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center" style="min-width: 230px"> 
                    <img class = "users" alt="User Pic" src={{request.imageLink}}> 
                </div>
                <div class=" col-md-3 col-lg-3 "> 
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Item Name:</b> {{request.itemName}}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="min-width: 200px"><h4><b>Negotiable: </b> {{request.checked ? "yes" : "no"}}</h4></div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 comments"> 
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Item Description:</b> {{request.itemDescription}}</h4></div>
                    </div>
                    <div class="row">
                        <div class = "col-md-3 col-lg-3" style="min-width: 300px"><h4><b>Price:</b> ${{request.itemPrice}}</h4></div>
                    </div>
                    <div class = "row">
                        <button type ="button"  id = {{request.itemName}}{{request.userID}} ng-model = "deleteSellPost" ng-click = "deleteSellPost()">Delete</button>
                        <button type ="button"  id = {{request.itemName}}{{request.userID}} ng-model = "updateSellPost" ng-click = "updateSellPost()">Update</button>

                    </div>
                    </div>
                </div>
            </div>
        </div>
     </body>
     <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
     <script src="FFSscripts/ngteam.js"></script>
     <script src = "FFSscripts/searchJS.js" type = "text/javascript"></script>
     <script src="ng-team/profileController.js"></script>
     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
     <script type="text/javascript" src = "FFSscripts/logout.js"></script>
</html>