.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
  margin-top:20px;
}

#profileContainer {
    margin-top: 10em;
}

body {
  background: #8bb3b4; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  min-width: 500px;   
}

#myPosts {
    text-align: center;
}

.panel-body {
    background: #E7E7E7;
    margin: 1em;
}

.users {
    width: 15em;
    height: 14em;
}

.browseButtons {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #879eb0;
  width: 49%;
  border: 0;
  margin-top: 4em;
  margin-left:auto;
  margin-right: auto;
  padding: 1em;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.browseButtons:hover{
  background: #65839a;
}

.browseButtons2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #879eb0;
  width: 49%;
  border: 0;
  margin-top: 0.25em;
  margin-left:auto;
  margin-right: auto;
  padding: 1em;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; 
}